<link rel="icon" href="/img/favicon.ico" />

<head>
    <h1><%=firstName%> <%=lastName%></h1>
    <p><%=email%></p>
</head>
<body>
    <h2>Career Objective</h2>
    <hr size="2" noshade />
    <p class="">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
        debitis iure nobis cupiditate culpa tempore rem optio magni dignissimos
        doloremque eaque vero placeat, reprehenderit autem eius assumenda
        officiis totam exercitationem? Repellat laboriosam veritatis aut labore
        eius, magni fugiat blanditiis inventore nisi aliquam perspiciatis rem.
        Ratione accusamus nam in, inventore temporibus doloremque optio placeat
        mollitia corrupti amet suscipit velit fuga voluptas!
    </p>
    <h2>Education</h2>
    <hr size="2" noshade />
    <section class=""></section>
    <section class=""></section>
    <section class=""></section>
    <h2>Skills</h2>
    <hr size="2" noshade />
    <h2>Projects</h2>
    <hr size="2" noshade />
</body>
