<link rel="icon" href="/img/favicon.ico" />

<head>
    <h1><%=firstName%> <%=lastName%></h1>
    <p><%=email%></p>
</head>
<body>
    <h2>Career Objective</h2>
    <hr size="2" noshade />
    <p><%=summary%></p>
    <h2>Education</h2>
    <hr size="2" noshade />
    <h2>Skills</h2>
    <hr size="2" noshade />
    <h2>Projects</h2>
    <hr size="2" noshade />
</body>
