.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
}

.change,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: "\25BC";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.change:after {
    content: "\25B2";
}

.panel {
    margin-bottom: 10px;
}
