.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(152, 171, 213, 0.6);
    border: 2px solid #847e78;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Muli";
    position: relative;
    height: 169px;
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
}
.close-btn {
    background-color: white;
}
.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #847e78;
    border-radius: 0 0 10px 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #ff7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #2c3246;
    font-family: "Muli";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #847e78;
    border-radius: 50%;
    color: #001f61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #c3e5ae;
    box-shadow: 5px 5px 10px -2px #c3e5ae;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #f3e9dd;
    border: 1px solid #001f61;
    box-shadow: 0 16px 22px -17px #03153b;
    color: #fff;
    cursor: pointer;
    color: black;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #847e78;
    color: white;
}

.floating-btn:focus {
    outline: none;
}

@media screen and (max-width: 480px) {
    .social-panel-container.visible {
        transform: translateX(0px);
    }

    .floating-btn {
        right: 10px;
    }
}
